@font-face {
  font-family: 'Mandatory';
  src: local('Mandatory'), url(../../../assets/fonts/MANDATOR.ttf) format('truetype');
}

.cardRender {
  position: relative;
  text-align: center;
  border-style: solid;
  border-color: transparent;
}

.template {
  position: relative;
  width: 100%;
  top: 0%;
  left: 0%;
  z-index: 2;
}

.pipValue {
  position: absolute;
  width: 13%;
  top: 0%;
  left: 0%;
  z-index: 3;
}

.commanderCardTitleContainer {
  position: absolute;
  height: 5%;
  width: 65%;
  top: 3.75%;
  left: 14%;
  z-index: 3;
}

.cardTitleContainer {
  position: absolute;
  height: 5%;
  width: 85%;
  top: 3.75%;
  left: 15%;
  z-index: 3;
}

.cardTitleText {
  font-family: 'Mandatory';
  font-size: 1em;
  line-height: 1em;
  color: black;
}

.commanderCardOrdersContainer {
  position: absolute;
  height: 5%;
  width: 50%;
  top: 59.5%;
  left: 25%;
  z-index: 3;
}

.cardOrdersContainer {
  position: absolute;
  height: 5%;
  width: 50%;
  top: 74%;
  left: 25%;
  z-index: 3; 
}

.cardOrdersText {
  font-family: 'Mandatory';
  font-size: .75em;
  line-height: .75em;
  color: black;
}

.commanderNameContainer {
  position: absolute;
  height: 4%;
  width: 35%;
  top: 10.25%;
  left: 45%;
  z-index: 3;
}

.commanderNameText {
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-size: .75em;
  line-height: .75em;
}

.commanderCardFlavorContainer {
  position: absolute;
  height: 30%;
  width: 85%;
  top: 66%;
  left: 7%;
  z-index: 3;
}

.cardFlavorContainer {
  position: absolute;
  height: 17%;
  width: 85%;
  top: 79.5%;
  left: 7%;
  z-index: 3; 
}

.cardFlavorText {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  line-height: 1em;
  color: black;
}

.commanderCardImageContainer {
  position: absolute;
  height: 51%;
  top: 10%;
  left: 0%;
  z-index: 0;
}

.cardImageContainer {
  position: absolute;
  height: 66%;
  top: 9.5%;
  left: 0%;
  z-index: 0;
}

.cardImage {
  position: relative;
  height: 100%;
  width: 100%;
}

.commanderImageContainer {
  position: absolute;
  height: 15%;
  width: 20%;
  top: 0%;
  right: 0%;
  z-index: 1;
}

.commanderImage {
  position: relative;
  height: 100%;
  width: 100%;
}

@media print { 
  /* Styles for this resolution go here */
  .cardRender {
    height: 332px;
    width: 240px;
    font-size: 10px;
  }
 }